.home {
    display: flexbox;
    text-align: center;
    .highlight {
        color: rgb(92, 145, 224);
        font-weight: bold;
    }
    .logo {
        font-size: 5vw;
        font-family: 'Orbitron', sans-serif;
        color: rgb(92, 145, 224);
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 3vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 2.5vw;
        }
        @media screen and (min-width: 1024px) {
            font-size: 2vw;
        }
    }
    h2 {
        font-size: 3vw;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 1.5vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.25vw;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1vw;
        }

    }

    .api {
        font-size: 3vw;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 1.5vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.25vw;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1vw;
        }
    }
    .links {
        display: flexbox;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.1vw;
        @media screen and (max-width: 480px) {
            // center everything
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 3vw;
        }
        button {
            //marign for only left and right;
            margin-left: 1vw;
            margin-right: 1vw;
            margin-bottom: 1vw;
            font-size: 2vw;
            //mobile
            @media screen and (max-width: 480px) {
                font-size: 3vw;
                width: 60vw;
            }
            @media screen and (min-width: 480px) and (max-width: 767px) {
                font-size: 2vw;
                width: 40vw;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 1.25vw;
                width: 25vw;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1vw;
                width: 20vw;
            }
        }
    }

    .ServerInfo {
        display: flexbox;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1vw;
        @media screen and (max-width: 480px) {
            // center everything
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            margin-left: 10vw;
            margin-right: 10vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-left: 20vw;
            margin-right: 20vw;
        }
        @media screen and (min-width: 1024px) {
            margin-left: 30vw;
            margin-right: 30vw;
        }
        .left {
            text-align: left;
            font-size: 2vw;
            @media screen and (max-width: 480px) {
                text-align: center;
                font-size: 3vw;
            }
            @media screen and (min-width: 480px) and (max-width: 767px) {
                text-align: center;
                font-size: 1.5vw;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 1.25vw;
                float: left;

            }
            @media screen and (min-width: 1024px) {
                font-size: 1vw;
                float: left;

            }
        }
        .right {
            text-align: left;
            font-size: 2vw;
            @media screen and (max-width: 480px) {
                text-align: center;
                font-size: 3vw;
            }
            @media screen and (min-width: 480px) and (max-width: 767px) {
                text-align: center;
                font-size: 1.5vw;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                float: right;

                font-size: 1.25vw;
            }
            @media screen and (min-width: 1024px) {
                float: right;

                font-size: 1vw;
            }
        }
    }

    .Underline {
        text-decoration: underline;
        font-family: 'Orbitron', sans-serif;
        //mobile font size
        @media screen and (max-width: 480px) {
            font-size: 4vw;
        }
    }
}
