.home {
    display: flexbox;
    text-align: center;
    .highlight {
        color: rgb(92, 145, 224);
        font-weight: bold;
    }
    .logo {
        font-size: 5vw;
        font-family: 'Orbitron', sans-serif;
        color: rgb(92, 145, 224);
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 3vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 2.5vw;
        }
        @media screen and (min-width: 1024px) {
            font-size: 2vw;
        }
    }
    h2 {
        font-size: 4vw;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 2vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.75vw;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1.5vw;
        }
    }

    .api {
        font-size: 4vw;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 2vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.75vw;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1.5vw;
        }
    }
}
